:host {
  perspective: 2000px;
  transform-style: preserve-3d;
  flex: 1;
}

/* container */

.zero-container {
  display: var(--display, block);
  position: relative;
  box-sizing: border-box;
  border-radius: var(--rounded-corners, 0);
  transition: border-radius 0.2s ease-in-out 0.15s, box-shadow 120ms;
  padding: calc(var(--edge-thickness, 0) * 1rem);
  width: var(--width, auto);
  height: var(--height, auto);
  max-width: var(--max-width, 100%);
  max-height: var(--max-height, 100%);
}

/* background blur */

.zero-container.blurred {
  backdrop-filter: blur(var(--background-blur, 0));
}

/* mouse follow effect */

.zero-container.follows-mouse {
  transition: transform 0.15s ease-out;
  transform-origin: center;
}

.zero-container.mouse-inside.follows-mouse {
  transform: rotateY(var(--cursor-x-rotate, 0deg))
    rotateX(var(--cursor-y-rotate, 0deg));
}

/* has shadow */

.zero-container.has-shadow {
  box-shadow: calc(var(--elevation) * 1) calc(var(--elevation) * 1)
    calc(var(--elevation) * 3) calc(var(--elevation) * 0.2)
    rgba(
      var(--color-shadows-dark, #000),
      calc(var(--shadow-prominence, 0) * 0.6)
    );
}

.zero-container.has-shadow.is-neu {
  box-shadow: calc(var(--elevation) * -1) calc(var(--elevation) * -1)
      var(--elevation, 0) var(--elevation, 0)
      rgba(
        var(--color-shadows-light, #fff),
        calc(var(--shadow-prominence, 0.5) * var(--shadow-neuness, 1))
      ),
    calc(var(--elevation) * 1) calc(var(--elevation) * 1)
      calc(var(--elevation) * 3) calc(var(--elevation) * 0.2)
      rgba(
        var(--color-shadows-dark, #000),
        calc(var(--shadow-prominence, 0.5) * 0.6)
      );
}

/* edge */

.edge-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: var(--background, #000000);
  border-radius: inherit;
  overflow: hidden;
}

.edge-background::before {
  content: '';
  position: absolute;
  inset: 0px;
  background: radial-gradient(
    600px circle at var(--cursor-x, 0px) var(--cursor-y, 0px),
    rgba(255, 255, 255, var(--edge-glow, 0)) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #fff;
  opacity: var(--edge-brightness, 0);
  border-radius: inherit;
  overflow: hidden;
}

.container {
  position: relative;
  border-radius: calc(
    var(--rounded-corners, 0.5rem) - (var(--edge-thickness, 0)) * 1rem
  );
  transition: border-radius 0.2s ease-in-out 0.15s;
}

.content {
  position: relative;
  display: var(--flex, flex);
  flex-direction: var(--flex-direction, column);
  gap: var(--spacing, 1rem);
  justify-content: var(--flex-align, space-between);
  box-sizing: border-box;
  padding: var(--padding-vertical, 1rem) var(--padding-horizontal, 1rem);
  z-index: 30;
  flex: 1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--background, transparent);
  z-index: 10;
  opacity: var(--background-opacity, 0);
  border-radius: inherit;
  overflow: hidden;
}

/* glow effect */

.zero-container.glows .glow {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  border-radius: inherit;
  background: radial-gradient(
    var(--glow-size, 600px) circle at var(--cursor-x, 0px) var(--cursor-y, 0px),
    rgba(255, 255, 255, var(--glow-amount, 0)) 0%,
    transparent 100%
  );
  transition: opacity 0.3s ease-in-out;
}

.zero-container.glows:hover .glow {
  opacity: 1;
}
