p {
  display: block;
  color: var(--text-color, #000);
  font-family: var(--font-family, var(--font, sans-serif));
  font-size: var(--font-size, 1rem);
  font-weight: var(--font-weight, 400);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  letter-spacing: var(--letter-spacing, -0.02rem);
  line-height: var(--line-height, 1);
}

.uppercase span.content {
  text-transform: uppercase;
}

.underline span.content {
  text-decoration: underline;
}

.lowercase span.content {
  text-transform: lowercase;
}

.gradient p {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  line-height: 1.2;
  background-image: var(--background-gradient, none);
}

.style-normal {
  font-weight: 400;
  font-size: 1.2rem;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: var(--font-weight, 400);
  font-style: normal;
  font-size: calc(var(--font-size, 1.1rem) * 1.15);
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: text-bottom;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 42;
  color: var(--text-color, #000);
}

.has-text .material-symbols-outlined {
  padding-left: var(--icon-left-spacing, 0);
  padding-right: var(--icon-right-spacing, 0);
}
