:host {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.zero-button {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: border-box;
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--color-primary, transparent);
  border-radius: var(--rounded-corners, 0);
  overflow: hidden;
  transition: transform 0.1s ease-in-out;
}

.zero-button:hover .background {
  transform: scale(1.02);
}

.zero-button:active .background {
  transform: scale(0.98);
}

.pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1000px;
  background: radial-gradient(
    circle,
    rgba(220, 220, 220, 0) 0%,
    rgba(220, 220, 220, 0.8) 100%
  );
  opacity: 0;
}

.zero-button:hover .pulse {
  animation: pulse 0.7s;
}

@keyframes pulse {
  0% {
    opacity: 0;
    height: 10px;
    width: 10px;
  }

  60% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
    height: 200px;
    width: 200px;
  }
}
